.book-details h1 {
    margin-block-end: 10px;
}

.book-details img {
    margin-block-end: 15px;
}

.book-details .price img {
    display: inline-block;
    width: 1rem;
    margin-inline-start: 1rem;
    margin-block-end: 0;

}

.book-details .description {
    padding: 10px;
    border-top: 2px solid;
    border-bottom: 2px solid;

}

.book-details .reviews {
    padding: 10px 0;
    border-top: 2px solid;
    border-bottom: 2px solid;

    h1 {
        font-size: 1.5em;
    }

    .btn-add-review {
        margin-block-start: 10px;
    }
}

.book-details .btn-clear-selected-book {
    color: white;
    background-color: var(--clr1bg);
    padding: 5px 10px;
    border: 0;
    margin-block-start: 15px;
}

.book-details nav {
    display: flex;
    align-items: center;
    margin-block-start: 15px;

    a:last-child {
        margin-inline-start: auto;
    }
}

.review-list {
    background-color: antiquewhite;
}

.review-container {
    display: flex;

    .name {
        width: 200px;
        margin: 0;
    }

    .rating {
        /* width: 70px; */
        margin: 0;
    }
      button {
        margin-inline-start: auto;
    }
}

.review-list li {
    padding: 5px;
    &:nth-child(2n +1) {
        background-color: var(--clr1bg);
    }
    &:nth-child(2n) {
        background-color: var(--clr1bg-light);
    }


}