.book-details h1{
margin-block-end: 10px;
}


.book-details .price img{
    width: 20px;
}

.book-details .description{
    padding-block-start: 10px;
    border-top: 2px solid;
    border-bottom: 2px solid;
}

.book-details  .btn-clear-selected-book{
        color: white;
    background-color: var(--clr1bg);
    padding: 5px 10px;
    border: 0;
    margin-block-start: 15px;
}

